@use 'colorSalas'
$azulSalas: colorSalas.$azulSalas
$verdeSalas: colorSalas.$verdeSalas

.barra-asesores
  border-right: 1px solid $azulSalas
  height: 30.2rem

  .tipo-potabiliadad-asesores
    color: red
    font-size: 0.7rem
    font-weight: 700

  .selector_potabilidad-asesores

    button
      font-size: 0.7rem !important
      color: $azulSalas !important
      background-color: white !important

    i
      color: $azulSalas
      font-size: 0.7rem !important

    .texto-seleccionado
      color: $azulSalas !important
      font-size: 0.7rem !important
  .lista-contacto-asesores
    border-radius: 5px !important
    box-shadow: 0 0 3px $azulSalas !important
    font-size: 0.7rem !important
    color: red !important
    height: 24rem
    overflow-y: auto
    overflow-x: hidden
    .nombre-contacto-asesores
      color: $azulSalas !important
      text-align: left
      &:hover
        color: $verdeSalas !important
    .telefono-contacto-asesores
      font-size: 0.6rem
      text-align: left
      color: black !important
    .fecha-contacto-asesores
      font-size: 0.5rem
      text-align: right
      color: black !important
    .boton-editar-clientes-asesores
      color: $azulSalas !important
      text-align: right
      font-size: 0.7rem
      margin-left: 0.4rem
      &:hover
        color: $verdeSalas !important
        text-align: right
        font-size: 0.8rem
        margin-left: 0.4rem
    .boton-whatsapp-clientes-asesores
      color: $azulSalas !important
      text-align: left
      font-size: 0.6rem
      margin-right: 0.5rem
      &:hover
        color: $verdeSalas !important
        text-align: left
        font-size: 0.5rem
        margin-right: 0.5rem
    .pertenece-inmobiliaria-asesores
      font-size: 0.6rem !important
      text-align: center
      border-radius: 5px !important
      box-shadow: 0 0 0px $azulSalas !important
      background-color: lighten($azulSalas, 50%) !important
      color: black

  .titulo-columna-asesores
    font-size: 0.8rem
    color: $azulSalas !important
    border-bottom: 1px solid $azulSalas
    font-weight: 600 // extra bold
    // hacer que el texto se corte a la derecha
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .creterio-asesores
    font-size: 0.8rem
    //quiero el borde gris claro no azul predeterminado
    border-bottom: 1px solid #cccccc

    border-bottom-left-radius: 5px !important
    border-bottom-right-radius: 5px !important
    /* box-shadow: 0 0 3px $azulSalas !important */

    .criterio-titulos-asesores
      font-weight: 700
      font-size: 0.5rem
      color: $azulSalas
    .criterio-texto-asesores
      font-size: 0.65rem
      color: $azulSalas
    .boton-editar-criterio-asesores
      color: $azulSalas !important
      text-align: right
      font-size: 0.6rem
      margin-left: 0.4rem
      &:hover
        color: $verdeSalas !important
        font-size: 0.7rem
        margin-left: 0.4rem

.conversacion_asesores
  font-size: 0.7rem

.contenedor_conversacion_asesores
  height: 23rem
  overflow-y: auto
  overflow-x: hidden
  .conversacion_asesores_devolcucion
    font-size: 0.7rem
    color: black
    font-weight: 700
  .btn-light-conversacion-asesores
    font-size: 0.6rem !important
    height: 1rem !important
    border: 1px solid $azulSalas !important
    background-color: $azulSalas !important
    color: white !important
    border-radius: 5px !important
    margin-left: 0.5rem !important
    padding: 0rem 0.3rem !important
    cursor: pointer !important
    &:hover
      border-color: $verdeSalas !important
      background-color: white !important
      color: $verdeSalas !important
  .mensaje-resaltado
    box-shadow: 0px -5px 9px lighten($azulSalas, 57%) inset !important


.btn-adds-conversacion-asesores
  font-size: 0.8rem !important
  border: 1px solid $azulSalas !important
  background-color: $azulSalas !important
  color: white !important
  border-radius: 25px !important
  cursor: pointer !important
  &:hover
    border-color: darken($azulSalas, 25%) !important
    background-color: darken($azulSalas, 10%) !important
    color: white !important
.lista-codigos-asesores
  height: 27rem
  overflow-y: auto
  overflow-x: hidden
  .codigos-ofrecido-asesores
    color: $verdeSalas !important
    font-size: 0.55rem
    border: 0px solid $verdeSalas !important
    background-color: transparent !important
    border-radius: 10px !important
    &:hover
      background-color: $verdeSalas !important
      color: white !important
  .codigos-muestra-asesores
    color: $azulSalas !important
    font-size: 0.55rem
    border: 0px solid $azulSalas !important
    background-color: transparent !important
    border-radius: 10px !important
    &:hover
      background-color: $azulSalas !important
      color: white !important
  .codigos-consultado-asesores
    color: grey !important
    font-size: 0.55rem
    border-radius: 10px !important
    border: 0px solid grey !important
    background-color: transparent !important
    &:hover
      background-color: grey !important
      color: white !important

.boton_debolucion_asesores
  font-size: 0.6rem !important
  height: 1rem !important
  background-color: $azulSalas !important
  color: white !important
  border-radius: 5px !important
  margin-left: 0.5rem !important
  padding: 0rem 0.3rem !important

  &:hover
    background-color: $verdeSalas !important
    color: white !important

.list-group-item-asesores
  border-bottom: 1px solid #dee2e6 !important
  padding-bottom: 1rem !important
.seleccionAsesores
  /* background-color: lighten($azulSalas, 60%) !important */
  //quiero la sombra para arriba y para adentro
  box-shadow: 0px -10px 9px lighten($azulSalas, 57%) inset !important
  color: white !important
  border-radius: 10px !important
  border: 0px solid !important
  border-bottom: 1px solid $azulSalas !important
