@use 'colorSalas'
$azulSalas: colorSalas.$azulSalas
$verdeSalas: colorSalas.$verdeSalas

.tabla_clientes

  width: 100%
  overflow-x: auto
  display: flex
  justify-content: center
  overflow-y: auto
  max-height: 25.5vh
  border: 1px solid white
  table
    width: 100%

    border-collapse: collapse
    font-size: 0.65rem

    thead

      th
        background-color: $azulSalas !important
        color: white
        position: sticky
        top: 0
        //no permitir que el titulo se ponga en la siguiente linea
        white-space: nowrap
    tbody
      button
        font-size: 0.7rem





.card-header-cliente
  background-color: $azulSalas !important
  color: white
  height: 2.5rem

.card-body-cliente-datos
  max-height: 33vh !important
.card-body-cliente
  height: 27vh
