@use 'colorSalas'

$azulSalas: colorSalas.$azulSalas
$verdeSalas: colorSalas.$verdeSalas
$grisSalas: colorSalas.$grisSalas

.home-card-all
  width: 45vw !important
  height: 45vh
.card-header-home
  background-color: $azulSalas !important
  color: white
  border-bottom: 1px solid $verdeSalas
  font-weight: 600
.card-body-home
  font-size: 10px
  height: 35vh
  width: 100%
  overflow-y: auto
  overflow-x: hidden
  th
    background-color: white
    color: $azulSalas
    position: sticky
    top: 0
    z-index: 1
.table-home
  thead
    tr
      th
        border-bottom: 2px solid $verdeSalas
  tbody
    tr
      td

        height: 1rem
        max-width: 13rem

.alerta-agenda-home
  color: $azulSalas
  font-weight: 600
