@use 'colorSalas'
$azulSalas: colorSalas.$azulSalas
$verdeSalas: colorSalas.$verdeSalas
/* .login-form-container 
 */
.navbar 
    background-color: #fff
    box-shadow: 0 1px 1px $verdeSalas

.navbar-dropdown-submenu 
    position: relative
    font-size: 14px
      
    
    
.navbar-dropdown-menu
    min-width: 20px
    padding: 0.1rem 0
    border: 1px solid $azulSalas
    
    a 
        color: $azulSalas !important
        background-color: #ffffff00
        &:hover
            color: $verdeSalas !important
            background-color: #00489100
        
    
.navbar-dropdown-submenu-content 
    font-size: 12px
    color: $azulSalas !important
    position: absolute
    top: 0
    left: 100%
    margin-top: -1px
    display: none
    min-width: 10px
    background-color: #ffffff
    border: 1px solid $azulSalas
    /* box-shadow: 0 0rem 0.5rem $azulSalas */
    z-index: 1000

.navbar-dropdown-submenu-content.show 
    display: block

/* Ajustes para dispositivos móviles */
@media (max-width: 991.98px) 
    .navbar-dropdown-submenu-content
        position: static
        left: auto
        margin-top: 0
        border: none
        box-shadow: none
        background-color: #f8f9fa
    

    .navbar-dropdown-submenu-content .dropdown-item 
        padding-left: 2rem

        
    

.navbar-dropdown-arrow 
    margin-left: 0.5rem
    transform: rotate(0deg)
    transition: transform 0.2s
    color: $azulSalas !important

.navbar-dropdown-submenu:hover .navbar-dropdown-arrow,
.dropdown-toggle[aria-expanded='true']+.navbar-dropdown-arrow 
    transform: rotate(90deg)

.navbar-item_menu 
    font-weight: 500
    font-size: 14px
    color: $azulSalas
    //padding: 0.5rem 1rem
    

#navbar_contenedor_logo 
    padding: 0
    height: inherit
    img 
        height: 55px
        width: auto

/* #navbar_logo_nav
    height: 40px */

.dropdown-toggle::after 
    display: none !important

.navbar-admin
    font-size: 13px !important
    color: $verdeSalas !important
    font-weight: 800 !important
    &:hover
        color: white !important
        background-color: $azulSalas !important
        border-radius: 10px !important


.navbar-admin_dropdown
    position: relative
    transform: translateY(-12%) translateX(-5%) 
    font-size: 14px
    padding: 0.5rem 1rem
    
