@use 'colorSalas'
$azulSalas: colorSalas.$azulSalas
$verdeSalas: colorSalas.$verdeSalas
$grisSalas: colorSalas.$grisSalas

.proceso_reserva_table
  thead,th
    color: white
    background-color: $azulSalas
    font-weight: bold

    font-size: 13px

  tbody,td
    font-size: 12px
    color: black
    button
      font-size: 9px
.fechaYhora
  input
    